# CivicPulse Monsoon - Frontend Environment Configuration

NEXT_PUBLIC_API_BASE_URL="http://localhost:8000"
NEXT_PUBLIC_MAP_DEFAULT_LAT=19.04
NEXT_PUBLIC_MAP_DEFAULT_LNG=72.85
NEXT_PUBLIC_MAP_DEFAULT_ZOOM=12
